@import "./lib/all.css";
@import "./components/all.css";

:root {
}

body {
  font-family: var(--body-font);
  /* background: var(--bg-color); */
  background: linear-gradient(30deg, transparent 0, var(--sec-color) 50%);
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  /* place-items: center; */
}

body.home {
  background: green !important;
}

/* home */

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  margin: auto;
}

.home section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 10px;
}

/* Text */

.text {
  font-size: 3.5vmin;
  font-size: clamp(16px, 3.5vmin, 25px);
}

.text--small {
  font-size: 2.5vmin;
  font-size: clamp(14px, 2.5vmin, 22px);
}

.text-x-large {
  font-size: 4vmin;
  font-size: clamp(16px, 4vmin, 30px);
  width: 100%;
}

/* Leaf */

.leaf {
  position: absolute;
  width: min(60vmin, 400px);
  stroke: var(--prim-color);
  stroke-width: 0.5px;
  z-index: -1;
  animation: stroke 3s forwards;
  stroke-dasharray: 1420;
  stroke-dashoffset: 1420;
  fill: var(--white-color);
  fill: transparent;
  stroke-linejoin: bevel;
  /* stroke-opacity: 0.75; */
}

@keyframes stroke {
  0% {
    stroke-dashoffset: 1420;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.leaf-b-r {
  right: 0;
  bottom: 0;
}

.leaf-t-l {
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

/* Detailpage */

.detailpage {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin-bottom: 20px;
}

.detailpage .title {
  width: 100%;
}

.detailpage img {
  width: 100%;
  max-width: 500px;
}

/* Options */
.detailpage-options {
  display: flex;
  flex-wrap: wrap;
}

.detailpage-options > section {
  margin: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  width: 75%;
  max-width: 250px;
}

.detailpage-options > section:last-of-type {
  margin: 20px 0 0 0;
}

.detailpage-options > section .figure {
  margin-bottom: 5px;
}

.detailpage-options .title {
  width: 100%;
}

.detailpage-options > section img {
  width: 100%;
  object-fit: cover;
  display: block;
}

/* Footer */
.footer {
  /* height: 70px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: auto;
}

.footer a {
  color: var(--black-color);
  text-decoration: underline;
}

.footer span {
  height: 5px;
  width: 5px;
  background-color: var(--sec-hover-color);
  border-radius: 50%;
}

.home + .footer {
  position: fixed;
  inset: auto 0 0 0;
}

/* figure */

.figure {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.caroussel__form--caroussel .figure {
  /* width: calc(60vw - 40px); */
  /* width: 60vw; */
}

.figure:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.figure img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* aspect-ratio: 1/1; */
  object-fit: cover;
  /* position: relative; */
  display: block;
}

.figure + section a {
  width: calc(var(--card-width) - 40px);
}
.caroussel__form--list .figure + section a {
  /* width: 100%; */
  align-self: center;
}
