@import "./lib/all.css";
@import "./components/all.css";

body {
  font-family: var(--body-font);
  background: var(--color);
  background: linear-gradient(
    30deg,
    var(--color) 2.5%,
    var(--sec-color) 2.5%,
    var(--sec-color) 5%,
    var(--color) 5%,
    var(--color) 7.5%,
    var(--sec-color) 7.5%,
    var(--sec-color) 10%,
    var(--color) 10%,
    var(--color) 12.5%,
    var(--sec-color) 12.5%,
    var(--sec-color) 15%,
    var(--color) 15%
  );
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  /* place-items: center; */
}

/* home */

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  height: 100%;
  text-align: center;
  padding: 0 5%;
  margin: auto;
}

.home section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 10px;
}

/* Text */

.text {
  font-size: clamp(16px, 3.5vmin, 25px);
}

.text--small {
  font-size: clamp(14px, 2.5vmin, 22px);
}

.text-x-large {
  font-size: clamp(16px, 4vmin, 40px);
  width: 100%;
}

/* Leaf */

.leaf {
  position: absolute;
  width: 45vmin;
  fill: var(--white-color);
  z-index: -1;
}

.leaf-b-r {
  right: 0;
  bottom: 0;
}

.leaf-t-l {
  top: 0;
  left: 0;
  rotate: 180deg;
}

/* Detailpage */

.detailpage {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin-bottom: 20px;
}

.detailpage .title {
  width: 100%;
}

.detailpage img {
  width: 100%;
  max-width: 750px;
}

/* Options */
.detailpage-options {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.detailpage-options > section {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 250px;
  gap: 5px;
}

.detailpage-options .title {
  width: 100%;
}

.detailpage-options > section img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

/* Footer */
.footer {
  /* height: 70px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: auto;
}

.footer a {
  color: var(--black-color);
  text-decoration: underline;
}

.footer span {
  height: 5px;
  width: 5px;
  background-color: var(--sec-hover-color);
  border-radius: 50%;
}

.home + .footer {
  position: fixed;
  inset: auto 0 0 0;
}
