/* Anchor */
.anchor {
  --transition-elements: all;
  transition: var(--transition-settings), 0ms padding, 0ms font-size;
  font-size: 3vmin;
  font-size: clamp(16px, 3vmin, 22px);
  text-decoration: none;
  padding: 10px 12px;
  background-color: var(--black-color);
  color: var(--prim-color);
  border-radius: 200px;
  font-family: var(--body-font);
  width: fit-content;
  border: none;
  line-height: 1em;
  cursor: pointer;
  word-break: break-word;
}

.anchor:hover {
  text-decoration: underline;
  background-color: var(--black-hover-color);
}

.anchor--fw {
  width: 100%;
  text-align: center;
}

.anchor--btn {
  margin-top: 10px;
  text-decoration: none !important;
  word-break: unset;
}

.anchor--btn[disabled] {
  color: grey;
  background-color: #e5e5e5;
  cursor: default;
  display: block;
}

.anchor--ter {
  background-color: hotpink;
  color: var(--black-color);
}

.anchor--ter:hover {
  background-color: pink;
  color: var(--black-color);
}

.anchor--sec {
  background-color: var(--sec-hover-color);
  color: var(--white-color);
  border-radius: 200px;
}

.anchor--margin-top {
  margin-top: 2%;
}

.anchor--fix {
  width: max-content;
}
