<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Browser technologies</title>
    <link rel="stylesheet" href="./assets/styles/style.css" />
  </head>

  <body>
    <form>
      <input type="radio" name="tab" id="menu" checked />
      <div class="container">
        <input type="radio" name="tab" id="home" />
        <section class="card card--home home">
          <h1 class="title title--h1">Browser technologies</h1>
          <section class="card__meta-data">
            <h2 class="title title--h2">Gemaakt door:</h2>
            <h3 class="title title--h3">Stefan Radouane</h3>
            <h3 class="title title--h3">2022/2023</h3>
          </section>
          <label for="home"></label>
        </section>
        <input type="radio" name="tab" id="about" />
        <section class="card card--w1 about">
          <h1 class="title title--h1">Opdracht 1</h1>
          <section class="card__content card__content--grid">
            <section>
              <h2 class="title title--h2">Wat is progressive enhancement?</h2>
              <p>
                Progressive Enhancement is een ontwerpfilosofie voor
                webontwikkeling die erop gericht is om een optimale
                gebruikerservaring te bieden aan alle gebruikers, ongeacht hun
                apparaat, browser of verbindingssnelheid.
              </p>
              <p>
                Het idee achter Progressive Enhancement is dat je begint met een
                basisversie van je website of webapplicatie die op alle
                apparaten en browsers werkt. Vervolgens voeg je meer
                geavanceerde functies en ontwerpelementen toe voor gebruikers
                met moderne browsers en apparaten die deze functies en elementen
                kunnen ondersteunen.
              </p>
              <p>
                Met Progressive Enhancement is het dus belangrijk om te focussen
                op de basisfunctionaliteit van je website en deze goed te laten
                werken, voordat je geavanceerde functies en ontwerpelementen
                toevoegt. Op deze manier zorg je ervoor dat alle gebruikers,
                ongeacht hun apparaat of browser, toegang hebben tot de
                belangrijkste informatie en functionaliteit van je website.
              </p>
            </section>
            <section class="card__slideshow">
              <h2 class="title title--h2">Voorbeeld progressive enhancement</h2>
              <section class="card__slideshow-display">
                <figure
                  class="card__slideshow-image card__slideshow-image--active"
                  data-slideshow-image>
                  <img
                    class="card__slideshow-imageitem"
                    src="./assets/images/boat-paddle.jpg"
                    alt="Een vlot drijvend op de zee" />
                  <figcaption>Een vlot drijvend op de zee</figcaption>
                </figure>
                <figure class="card__slideshow-image" data-slideshow-image>
                  <img
                    class="card__slideshow-imageitem"
                    src="./assets/images/boat-boat.jpg"
                    alt="Een boat met een peddel drijvend op de zee" />
                  <figcaption>
                    Een boat met een peddel drijvend op de zee
                  </figcaption>
                </figure>
                <figure class="card__slideshow-image" data-slideshow-image>
                  <img
                    class="card__slideshow-imageitem"
                    src="./assets/images/boat-sail.jpg"
                    alt="Een zijlboot drijvend op de zee" />
                  <figcaption>Een zijlboot drijvend op de zee</figcaption>
                </figure>
              </section>
              <section class="card__slideshow-controls">
                <button
                  class="card__slideshow-control"
                  data-slideshow-degrade
                  disabled>
                  Degrade
                </button>
                <button class="card__slideshow-control" data-slideshow-enhance>
                  Enhance
                </button>
              </section>
            </section>
          </section>
          <footer class="card__footer">
            <h3>Bronnen:</h3>
            <ol>
              <li>
                <a
                  href="https://developer.mozilla.org/en-US/docs/Glossary/Progressive_Enhancement"
                  >MDN web docs</a
                >
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Progressive_enhancement"
                  >Wikipedia</a
                >
              </li>
            </ol>
          </footer>
          <label for="about"></label>
        </section>
        <input type="radio" name="tab" id="work" />
        <section class="card card--w2 work">
          <h1 class="title title--h1">Opdracht 2</h1>
          <section class="card__content card__content--grid">
            <section>
              <h2 class="title title--h2">Ondezoek Javascript uit</h2>
              <p>
                Het is mogelijk om javascript uit te schakelen. Er zijn mensen
                die standaard javascript hebben uitgeschakeld.
              </p>
              <details>
                <summary>
                  Er zijn verschillende reden waarom je javascript zou willen
                  uitschakelen:
                </summary>
                <ol>
                  <li>
                    Beveilingsredenen: JavaScript kan worden gebruikt om
                    kwaadaardige code op uw computer of apparaat uit te voeren.
                    Door JavaScript uit te schakelen, kunt u het risico op
                    dergelijke aanvallen verminderen.
                  </li>
                  <li>
                    Prestatie: Websites die veel JavaScript-code bevatten,
                    kunnen traag laden en uw browser vertragen. Door JavaScript
                    uit te schakelen, kan de prestatie van uw browser
                    verbeteren.
                  </li>
                  <li>
                    Privacy: Websites kunnen JavaScript gebruiken om uw online
                    activiteiten te volgen en informatie over u te verzamelen.
                    Door JavaScript uit te schakelen, kunt u uw privacy beter
                    beschermen.
                  </li>
                  <li>
                    Toegankelijkheid: Sommige gebruikers kunnen problemen hebben
                    met websites die veel JavaScript gebruiken, zoals mensen met
                    een visuele beperking of beperkte toegang tot internet. Door
                    JavaScript uit te schakelen, kunt u mogelijk de
                    toegankelijkheid van websites verbeteren.
                  </li>
                </ol>
              </details>
              <p>
                Het uitschakelen van JavaScript kan ervoor zorgen dat sommige
                websites worden beperkt of de functionaliteiten worden
                beïnvloedt.
              </p>
              <p>
                Ik ga nu zelf onderzoeken in hoeverre het mij beinvloed op het
                web als ik mijn Javascript uitschakel
              </p>

              <h3 class="title title--h3">Hoe schakel je javascript uit</h3>

              <details>
                <summary>Google Chrome</summary>
                <ol>
                  <li>
                    Open Google Chrome en klik op de drie stippen in de
                    rechterbovenhoek van het venster.
                  </li>
                  <li>
                    Ga naar 'Instellingen' en klik op 'Privacy en beveiliging'.
                  </li>
                  <li>
                    Klik op 'Site-instellingen' en zoek naar 'JavaScript'.
                  </li>
                  <li>
                    Klik op 'JavaScript' en schakel de schakelaar uit om
                    JavaScript uit te schakelen.
                  </li>
                </ol>
              </details>
              <details>
                <summary>Mozilla firefox</summary>
                <ol>
                  <li>
                    Open Mozilla Firefox en typ 'about:config' in de adresbalk.
                  </li>
                  <li>
                    Zoek naar 'javascript.enabled' en dubbelklik erop om de
                    waarde te wijzigen in 'false' om JavaScript uit te
                    schakelen.
                  </li>
                </ol>
              </details>
              <details>
                <summary>Safari</summary>
                <ol>
                  <li>Open Safari en ga naar 'Voorkeuren'.</li>
                  <li>
                    Klik op 'Beveiliging' en zoek naar 'Internetplug-ins'.
                  </li>
                  <li>
                    Schakel het selectievakje 'JavaScript' uit om JavaScript uit
                    te schakelen.
                  </li>
                </ol>
              </details>
              <h3 class="title title--h3">Fouten op websites</h3>
              <details>
                <summary>
                  <h4 class="title title--h4 title--inline">Fout op bol.com</h4>
                </summary>
                <p>
                  Eigenlijk doen alle functionaliteiten het normaal op bol.com.
                </p>
                <p>
                  Het enige wat het niet doet is het veranderen van de taal. Op
                  het moment dat je dit wilt doen dan word je naar een pagina
                  gestuurd met een de mogelijkheid om de taal te selecteren.
                </p>
                <p>Het enige probleem is dat je je taal niet kan veranderen.</p>
                <p>
                  Dit komt, omdat dit er geen <code>form</code> element wordt
                  gebruikt en dit verzoek wordt dus op de front-end uitgevoerd.
                </p>
                <p>
                  Dit kan worden gefixt door een <code>form</code> element toe
                  te voegen en een back-end handler te maken voor dit verzoek.
                </p>
                <img
                  src="./assets/images/pe-bol.png"
                  alt="Screenshot van de error pagina." />
              </details>

              <details>
                <summary>
                  <h4 class="title title--h4 title--inline">
                    Fout op mediamarkt.nl
                  </h4>
                </summary>
                <p>
                  De fouten beginnen bij mediamarkt.nl al gelijk als je op de
                  homepagina bent.
                </p>
                <p>
                  Mediamarkt maakt gebruik van een soort lazy-loading van
                  content met javascript, omdat javascript uitgeschakeld is word
                  de oorspronkelijk later geladen content helemaal niet meer
                  geladen, waardoor de pagina bestaan uit 60% witruimte
                </p>
                <p>
                  Dit had voorkomen kunnen worden door een default html te
                  sturen en dit later met javascript opnieuw renderen.
                </p>
                <img
                  src="./assets/images/pe-media-list.png"
                  alt="Screenshot van de error pagina." />
                <p>Een ander probleem, misschien nog wel veel erger.</p>
                <p>Het is niet mogelijk om te bestellen zonder javascript.</p>
                <p>
                  De mediamarkt loopt dus elke klant mis die zijn javascript
                  heeft uitgeschakeld.
                </p>
                <p>
                  Dit had voorkomen kunnen worden door de default
                  functionaliteiten van een <code>form</code> element te
                  gebruiken.
                </p>
                <img
                  src="./assets/images/pe-media-detail.png"
                  alt="Screenshot van de error pagina." />
              </details>
            </section>
            <section>
              <h2 class="title title--h2">Muis/trackpad werkt niet</h2>
            </section>
          </section>
          <label for="work"></label>
        </section>
        <input type="radio" name="tab" id="contact" />
        <section class="card card--w3 contact">
          <h1 class="title title--h1">Eindopdracht</h1>
          <section class="card__content card__content--grid">
            <section>
              <h2 class="title title--h2">Keuze eindopdracht</h2>
              <p>Ik heb gekozen voor de eindopdracht Online Foto album</p>
              <p>Aan deze opdracht zitten een aantal vereisten dit zijn:</p>
              <ul>
                <li>
                  Foto toevoegen aan een verzameling met meta-info zoals
                  beschrijving, locatie, fotograaf, alt-tekst
                </li>
                <li>Detailpagina foto</li>
                <li>Overzichtspagina alle foto's</li>
                <li>Serie samenstellen (welke foto's en in welke volgorde)</li>
                <li>Overzichtspagina van een serie</li>
                <li>Serie als carrousel aanbieden</li>
                <li>(Visuele) waarschuwing als er geen alt-tekst is.</li>
              </ul>
              <a href="/">Bekijk eindopdracht</a>
            </section>
            <section></section>
          </section>
          <label for="contact"></label>
        </section>
      </div>
      <div class="menu">
        <div>
          <label for="menu"></label>
          <label for="home"></label>
        </div>
      </div>
    </form>
  </body>
  <script src="./assets/scripts/script.js"></script>
</html>
