<%- include('../partials/head', {title: "Home"}) %>
<h1>My Gallery</h1>
<p>Add a picture to the World Wide Collage</p>
<a href="/gallery">Show me all the pictures</a>
<%- include('../partials/footer') %>
